{% extends 'layout.html' %}
{% block title %}首页{% endblock %}
{% block head %}
<link rel="stylesheet" href="/style/index.css">
{% endblock %}
{% block content %}
<p>[[title]]</p>

<div id="app">
    <p>{{ message }}</p>
    <input v-model="message">
</div>

<script type="module">
    import '/script/index.js';
</script>

<script type="nomodule" src="https://cdn.staticfile.org/systemjs/3.1.2/system.min.js"></script>
<script type="nomodule">
    System.import('/script-bondle/index.js')
</script>

{% endblock %}